.gimg
{
	width:150px;
	height:130px;
	margin-top:15px;
	margin-left:20px;
	float:left;
	border:1px solid #F00;
	
}

.gimg1
{
	width:50px;
	height:50px;
	margin-top:15px;
	margin-left:20px;
	float:left;
	border:1px solid #F00;
	
}

   body
  {
	  margin:0px;
	  padding:0px;
  	  background-color:#000;
  }

  
   .outer
   {
	   width:1000px;
	   margin:0 auto;
	   border:#F00 1px solid ;
	   background-color:#FFF;
   }
   .header
   {
	   width:1000px;
	   height:200px;
	   background-image:url("images/footerbg.jpg");
	   background-size:100% 100%;
     //  background-color:#000;	   
   }

  .hleft
  {
	  width:320px;            
	  height:90px;
	  font-weight:bold;
	  color:#FFF;
	  margin-top:50px;
	  margin-left:20px;
	  font-size:90px;
	  text-align:center;
	  //border:1px solid #F00;
	  padding-top:10px;
	  float:left;
  
  }
  .hright
  {
	  width:280px;
	  height:150px;
	  background-image:url("images/topcontactbg.png");
	  background-size:100% 100%;
	   float:left;
	  margin-left:330px;
	  margin-top:30px;
	//  border:1px solid #F00;
  }
  .hrcontent
  {
	  width:230px;
	  height:32px;
	  font-size:20px;
	border-bottom:1px dotted #000000;
	  margin-left:20px;
	  margin-top:5px;
	  padding-top:10px;
	
       	 
	  //border:1px solid #F00;
 
  }
  .menubar
  {
	  width:1000px;
	  height:50px;
	  background-image:url("images/menubgblue.jpg");
	  background-size:100% 100%;
  }
  .menus
  {
	  width:100px;
	  height:40px;
	  color:#FFF;
	  font-size:20px;
	  margin-left:20px;
	  text-align:center;
      padding-top:10px;
	  float:left;
	//  border:1px solid #F00;
  }
  .menus:hover
  {
	  font-size:23px;
  }
  
  .space
  {
	  width:1000px;
	  height:5px;
	  background-color:#FFF;
  }
  .slider
  {
	  width:1000px;
	  height:300px;
	  background-color:#C3F;
  }
  
  .s1
  {
	  width:280px;
	  height:300px;
	  background-color:#2b77a0;
	  float:left;
	//   border:1px solid #F00;
	 // border:10px solid #00F;
  }
  .news1
  {
	    width:300px;
	  height:650px;
	  background-color:#2b77a0;
	  float:left;
		 // border:1px solid #F00; 
	
  }
  .w230
  {
	  width:230px;
  }
  .mlb
  {
	  width:260px;
	  height:330px;
	  margin:0 20px 0 20px;
	  background-color:#FFF;
  }
  .s11
  {
	  width:260px;
	  height:260px;
	  background-color:#FFF;
	  margin:20px 0px 20px 20px;
	  font-size:20px;
	  //border:1px solid #F00;
  }
  .s11 ul 
  {
	margin:0px;
	padding:2px;  
	  
  }
  .s11 ul li
  {
	font-size:20px;
	list-style-image:url("images/arrow.png"); 
	margin-left:40px;
	margin-top:5px;
//	padding:10PX;
//	width:50px;
	//height:10px;
//	background-color:#F00; 
	  
  }
  .readmore
  {
	  width:100px;
	  height:25px;
	  //background-color:#F00;
	  font-size:20px;
	  margin-left:130px;
	  margin-top:10px;
	  float:right;
  }
  .s2
  {
	  width::20px:
	  height:300px;
	  float:left;
  }
  .s3
  {
	  width:700px;
	  height:300px;
	  float:left;
  }
  red
  {
	  color:red;
  }
  blue
  {
	  color:blue;
  }
  
  .main
  {
	  width:1000px;
	  background-color:#FFF;
  }
  .mleft
  {
	  width:300px;
	  height:650px;
	  background-color:#FFF;
	  float:left;
	//  border:1px solid #F00;
  }
  
  
  .mlc
  {
	  width:280px;
	  height:50px;
	 border-bottom:1px dotted #000;
	  margin:10px 10px 0px 10px;
	//  border:1px dotted #000;
	  font-size:20px;
	 // padding-left:20px;
      
	// border-right:10px solid #2b77a0;
	  //border-left:10px solid #2b77a0;
	 // border-top:10px solid #2b77a0;
      float:left;
	  
  }
  .mlckc
  {
	  width:30px;
	  //border:1px solid #F00;

	  height:40px;
	  margin-left:2px;
	  float:left;
	  margin-bottom:10px;
  }
   .mllc
   {
	   width:230px;
	   height:30px;
	   float:left;
	   padding-top:10px;
	   // border:1px solid #F00;
		

   }
   .mlc1
   {
	   width:280px;
	   height:70px;
	   font-weight:bold;
	   border-bottom:1px dotted #000;
	 
	   font-size:50px;
	   float:left;
	   text-align:center;
	   //border:1px solid #F00;
		margin-left:10px;
	    //padding-bottom:40px;	
   }
   .menuleftcontent
   {
	   width:30px;
	   height:30px;
	   margin-left:10px;
	   margin-top:10px;
//	   border:1px solid #F00;
	  float:left;
      	
   }
   .mm
   {
	   width:230px;
	   height:40px;
	   float:left;
	   margin-left:15px;
	    padding-right:20px;
		border-bottom:1px dotted #000000;
		//border:1px solid #F00;
	    margin-top:20px;
	  
   }

   .mleftc
   {
	   width:150px;
	   height:25px;
	   float:left;
	  //border:1px solid #F00;
	   padding-top:15px;
	   margin-left:20px;
	   //margin-top:20px;
	   
   }
  .mright
  {
	  width:698px;
	  float:left;
	  background-color:#FFF;

	  border-left:1px dotted #000000;
	  
  }
  ol
  {
	  font-size:18px;
  }
  
  .contacts
  {
	  font-size:25px;
	  margin-left:10px;
	  margin-top:10px;
	  text-align:justify;
  }
  
  p
  {
	  text-align:justify;
      padding:0 10px 0 10px;

  }
  .image
  {
	  width:30px;
	  height:30px;
  }
  .footer
  {
	  width:1000px;
	  height:260px;
	  background-color:#FFF;
	  background-image:url("images/ftr.jpg");
	  
	  clear:both;

  }
   .fcol
   {
	   width:332px;
	   height:220px;
	   //background-color:#F00;
	   float:left;
	   border-right:1px dotted #000000;
   }
   .quick
   {
	   width:280px;
	   height:25px;
	   border-bottom:1px dotted #000000;
	   margin-left:20px;
	   margin-top:20px;
	   float:left;
	   font-size:20px;
	   font-weight:bold;
	   padding-bottom:5px;
	   color:#FFF;
	   
   }
   .fcolmenus
   {
	 width: 90px;
	 height:25px;
	 color:#FFF;
	 font-size:18px;
	 //border:1px solid #F00;
	  padding-left:50px;
	 // padding-top:5px; 
	 float:left;
	 margin-top:10px; 
	 margin-left:10px;
	 background-image:url("images/dotted.png");
	 background-repeat:no-repeat;
	 background-size:20px 20px; 
   }
   .qlocationmenus
   {
	   width:300px;
	   height:60px;
	   border-bottom:1px dotted #000000;
	   float:left;
	   //border:1px solid #F00;
	   margin-left:10px;
	   color:#00CCFF;
	   text-align:inherit;
	   padding-left:10px;
	   padding-top:10px;
	   padding-bottom:5px;
	   //font-size:12px;
   }
   .followus
   {
	   width:300px;
	   height:80px;
	   margin-left:10px;
	 //border:1px solid #F00;
	   
	 	   float:left;
	   
   }
   .followusmenus
   {
	 width:120px;
	 height:60px;
	 font-size:23px;
	 color:#FFF;
	 float:left;
	// text-align:center;
	 padding-left:10px;   
	// border:1px solid #F00;
	 padding-top:20px;
	 border-right:1px dotted #000000;  
	   
   }
   .fumi
   {
	 width:165px;
	 height:75px;
	 //border:1px solid #F00;
	 float:left;
	 background-image:url("images/my.png");
	 background-repeat:no-repeat;
	 background-position:center;
	    
   }
   .fimages
   {
	   width:30px;
	   height:35px;
	   margin-top:22px;
	   margin-left:54px;
	   float:left;
	    //border:1px solid #F00;
	
	  // background-color:#F00;
   }
    .fimages1
   {
	   width:30px;
	   height:35px;
	   margin-top:22px;
	   margin-left:5px;
	   float:left;
	  //  border:1px solid #F00;
	
	  // background-color:#F00;
   }
  
   .frow
   {
	   width:1000px;
	   height:40px;
	   //background-color:#0F0;
	   float:left;
	   padding-top:5px;
	   font-size:18px;
	   color:#FFF;
   }
   .curow
  {
	  width:700px;
	  height:50px;
	  background-color:#ccc;
	  margin:2px auto;
  }
  .culable
  {
	  width:250px;
	  height:50px;
	  float:left;
  }
		.cuinfo
		{
			width:448px;
			height:50px;
			float:left;
		}
   .input
   {
	   width:400px;
	   height:30px;
	   color:#666;
	   margin-top:10px;
   }
   .radio
   {
	   width:20px;
	   height:20px;
   }
	.textarea
	{
		width:400px;
		height:100px;
	}
	.h110
	{
		height:110px;
	}
	.h100
	{
		height:100px;
	}
   .buttom
   {
	   width:50px;
	   height:30px;
	   background-color:#FFF;
	   color:#F00;
	   float:left;
	   margin:50px 30px;
   }
   .chk
   {
	   width:20px;
	   height:20px;
   }
   
   